<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="flex flex-1 py-3">
    <div class="container mx-auto">
        <% if(JSON.stringify(posts) === '[]') { %>
            <div class="no-results mt-4">
                <h6 class="block mb-6"><span class="font-bold">SEM RESULTADO PARA:</span> <%=query%></h6>
                <ul class="block p-3 list-disc list-inside">
                    <li>Verifique se voce digitou corretamente o que procura;</li>
                    <li>Tente palavras menos específica;</li>
                    <li>Tente palavras-chave diferentes;</li>
                    <li>Se não encontrar o que procura, tente encontrar manualmente.</li>
                </ul>
            </div> 
        <% } %>

        <div class="grid grid-cols-5 gap-3 ">
            <% posts.forEach(post => { %>
                <div class="flex flex-col relative justify-between shadow-lg h-[450px] max-w-[300px] pb-3 hover:scale-105 ">
                    <img src="<%=post.poster%>" class="h-1/2 mb-3">

                    <a href="/categoria/<%=post.Category.id%>/posts" class="absolute top-3 left-2 max-w-max text-sm block bg-sky-600 text-white p-1 mb-2 rounded-lg hover:scale-105"><%= post.Category.name %></a>

                    <div class="relative px-3 h-1/2 ">
                        <div class="mt-2">
                            <span class="block font-bold text-xl mb-1 truncate"><%= post.title %></span>
                            <span class="block overflow-y-clip h-24"><%- post.subtitle %></span>
                        </div>
            
                        <div class="flex mt-4 gap-2 flex-wrap">
                            <a href="#" class="block text-sm font-semibold px-2 py-1 bg-green-100 text-green-600 rounded-xl hover:scale-105">São Paulo</a>
                        </div>
            
                        <div class="absolute right-3 flex mt-3 ">
                            <a href="/postagem/<%=post.slug%>" class=" text-blue-600 mr-1">Ler Artigo</a>
            
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-34 stroke-blue-600">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 003 8.25v10.5A2.25 2.25 0 005.25 21h10.5A2.25 2.25 0 0018 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
                            </svg>
                        </div>              
                    </div>
                </div>
            <% }) %>
        </div>
    </div>
</main>

<%- include('../partials/footer') %>
